<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2 style="background-color:#E07E1B, color:#6B5A4A">Welcome to OpenMunicipalities.org, <%= @user.name %></h2>
    <p style="color:#302820">
      You have successfully signed up to OpenMunicipalities.org,
      with email as <%= @user.email %>.<br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
