<div class="about">


<p class="abouttext">A municipality is the smallest administrative subdivision to have democratically elected representation. Municipalities range from those having virtual autonomy to complete subordination to the state. Municipalities may have the right to tax individuals and corporations with income tax, property tax and corporate income tax, but may also receive substantial funding from the state.</p>

<p class="abouttext">A significant amount of municipal budget is spent on IT Software and Web based services. Open Municipalities is an open source product built by community effort to help reduce the software costs in municipalities.</p>

</div>








