<!DOCTYPE html>
<html>
  <head>
    <title>Open Municipalities | Home</title>
  </head>
  <body>




<div id="coming"> Coming Soon...<br/>
<div id="newsletter">Subscribe to our newsletter
<br/><br/>
<div id="newsform">
<!-- Newsletter Signup form Starts  -->
<%= render 'news-submission' %>
<!-- Newsletter Signup form ends  -->
</div>
</div>


<br/><br/><br/>
<br/><br/><br/>
<br/><br/>





  </body>
</html>














