// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#coming {
margin-top:150px;
text-align:center;
font-size: 70px;
}
