<br/><br/>
<footer>
<hr width="100%">
<div id="left">
<span>
<a href="http://www.facebook.com/">Get Involved!</a>
</span>
</div>

<div id="right">
<span>
Copyright &copy; Openmunicipalities.org
</span>
</div>
</footer>
