<nav id="menu-right">
  <ul class="mainheader">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Us", about_path %></li>
    <li><%= link_to "Contact Us", :controller => "contacts", :action => "new" %></li>
    <li><%= link_to "Sign Up", signup_path %></li>
  </ul>

</nav>
